*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#141414;
}

.login-container{
    width:420px;
    background:#222;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(229,9,20,.5);
}

.logo{
    text-align:center;
    font-size:40px;
    font-weight:bold;
    color:#e50914;
    margin-bottom:20px;
}

h2{
    text-align:center;
    color:white;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:8px;
    background:#333;
    color:white;
}

input:focus{
    outline:none;
    border:2px solid #e50914;
}

button{
    width:100%;
    padding:14px;
    background:#e50914;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#ff1f2f;
}

p{
    text-align:center;
    margin-top:20px;
    color:#ccc;
}

a{
    color:#e50914;
    text-decoration:none;
}
.admin-btn{
    position:fixed;
    bottom:7px;
    right:7px;

    background:#e50914;
    color:white;

    padding:10px 10px;

    border-radius:50px;

    text-decoration:none;

    font-weight:bold;

    box-shadow:
    0 0 20px rgba(229,9,20,.7);

    z-index:9999;

    transition:.3s;
}

.admin-btn:hover{

    transform:scale(1.1);

    background:#ff1f2f;

}
@media (max-width: 768px){

    .navbar{
        flex-direction:column;
        padding:15px;
        gap:10px;
    }

    .menu{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:10px;
    }

    .hero h1{
        font-size:32px;
    }

    .hero p{
        font-size:14px;
    }

    .grid{
        grid-template-columns:repeat(2,1fr);
    }

    .movie-card img{
        height:220px;
    }

    .profile-container,
    .login-container,
    .register-container{
        width:95%;
        padding:20px;
    }

    table{
        display:block;
        overflow-x:auto;
    }

}