.login-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba") center/cover;
}

.login-box{
width:420px;
background:rgba(0,0,0,.85);
padding:40px;
border-radius:15px;
}

.login-box h1{
color:#e50914;
margin-bottom:20px;
}

.login-box input{
width:100%;
padding:15px;
margin:10px 0;
border:none;
border-radius:5px;
}

.login-box button{
width:100%;
padding:15px;
background:#e50914;
color:white;
border:none;
margin-top:15px;
}
@media (max-width: 768px){

    .navbar{
        flex-direction:column;
        padding:15px;
        gap:10px;
    }

    .menu{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:10px;
    }

    .hero h1{
        font-size:32px;
    }

    .hero p{
        font-size:14px;
    }

    .grid{
        grid-template-columns:repeat(2,1fr);
    }

    .movie-card img{
        height:220px;
    }

    .profile-container,
    .login-container,
    .register-container{
        width:95%;
        padding:20px;
    }

    table{
        display:block;
        overflow-x:auto;
    }

}